.ul1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:white;
    float:left;
  }
  
  .li1 {
    float: left;
    padding:10px;
    margin: 0 10px;
    font-size: 17px;
  }
  
  .li1:hover{
    height:30px;
    border-radius: 8px;
    color:white;
  }
  button{
    background-color: transparent;
    border-color: transparent;
    color: white;
    background-color: #3071a9;
  }
  button:focus{
    color:white;
    
  }