<div class="container" style="margin-left: 40px;margin-right: 40px;height:35px;width:175px">
    <select name="stock" id="stock" [(ngModel)]="opt" (click) = "choose()">
        <option value="nse" >NSE</option>
        <option value="bse">BSE</option>
    </select>

    <div *ngIf="!choose(); then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
<p style=" font-size: 28px;  margin-left: 30px;"><b>NIFTY 50</b></p>
<hr style=" border-top: 2px solid grey;">
<div class="container">
    <div>
        <b style="font-size: 50px;margin-left: 17px;">{{todaynse.open }}</b><br>
        <i class="arrow up"></i><b style="color: rgb(8, 136, 87);font-size: 25px;margin-left: 12px; margin-top: 3px;">23.40(0.21%)</b>

    </div>
    <div style="margin-top: -95px;margin-left: 800px;font-size: 15px;">
        <p style = "color: #6d7378"> DayRange</p>
        <p style="padding-top: 10px;">L</p>
        <h3 style="color : rgb(8, 136, 87); margin-top: -40px;
               margin-left: 127px;
               margin-bottom: 15px;"> &#9679;</h3>
        <hr style="border-top:2px solid black;     margin-top: -22px; margin-left: 26px; width: 401px">
        <p style="    float: right;margin-top: -20px;
        margin-right: -448px;">H</p>
        <p style="color: #6d7378"> 52WeekRange</p>
        <p style="padding-top: 10px;">L</p>
        <h3 style="color : rgb(8, 136, 87); margin-top: -40px;
               margin-left: 133px;
               margin-bottom: 15px;"> &#9679;</h3>
        <hr style="border-top:2px solid black;     margin-top: -22px; margin-left: 26px; width: 401px">
        <p style="    float: right;margin-top: -20px;
        margin-right: -448px;">H</p>
    </div>
</div>

<hr style=" border-top: 2px solid grey;margin-top: 90px;">
<p style="color: #6d7378;font-size:20px">OVERVIEW</p>
<div class="container">
    <div style="margin-top: 23px;margin-right: 817px;">
        <div style="margin-bottom: -20px">
            <p style=" display:inline-block; color: #6d7378;   margin-right: 282px; margin-left: 24px">Open</p>
          <div style="margin-left: 400px;margin-top: -29px;"><b style=" display:inline-block">{{todaynse.open | number : '2.1-2'}}</b>
     </div> <hr style=" border-top: 1px solid #f2f2f3;margin-left: 25px;">  </div>
        

        <div style="margin-bottom: -20px;">
            <p style=" display:inline-block; color: #6d7378;   margin-right: 230px; margin-left: 24px">PreviousClose</p>
            <div style="margin-left: 400px;margin-top: -29px;"> <b>{{prevnse.close | number : '2.1-2'}}</b>
        </div>
        </div>
        <hr style=" border-top: 1px solid #f2f2f3;margin-left: 25px;">

        <div style="margin-bottom: -20px;">
            <p style=" display:inline-block; color: #6d7378;   margin-right: 282px; margin-left: 24px">DayHigh</p>
            <div style="margin-left: 400px;margin-top: -29px;"><b >{{todaynse.high | number : '2.1-2'}}</b>
        </div></div>
        <hr style=" border-top: 1px solid #f2f2f3;margin-left: 25px;">
    </div>


    <div style="margin-left: 638px; margin-top: -108px;margin-right: 154px;">
        <div style="margin-bottom: -20px;">
            <p style=" display:inline-block;color: #6d7378;margin-right: 282px; margin-left: 24px">DayLow</p>
            <div style="margin-left: 400px;margin-top: -29px;"> <b >{{todaynse.low | number : '2.1-2'}}</b>
        </div></div>
        <hr style=" border-top: 1px solid #f2f2f3;margin-left:23px">
        <div style="margin-bottom: -20px;">
            <p style=" display:inline-block; color: #6d7378;   margin-right: 282px; margin-left: 24px">52WeekHigh</p>
            <div style="margin-left: 400px;margin-top: -29px;">  <b >12,430.50</b>
        </div></div>
        <hr style=" border-top: 1px solid #f2f2f3;margin-left:23px">
        <div style="margin-bottom: -20px;">
            <p style=" display:inline-block;margin-right: 282px; margin-left: 24px;color: #6d7378;">52WeekLow</p>
            <div style="margin-left: 400px;margin-top: -29px;"> <b >7511.10</b>
        </div></div>
        <hr style=" border-top: 1px solid #f2f2f3;margin-left:23px">
    </div>
</div>
</ng-template>
<ng-template #elseBlock>
    <p style=" font-size: 28px;  margin-left: 30px;"><b>BSE</b></p>
    <hr style=" border-top: 2px solid grey;">
    <div class="container">
        <div>
            <b style="font-size: 50px;margin-left: 17px;">{{todaybse.open }}</b><br>
            <i class="arrow up"></i><b style="color: rgb(8, 136, 87);font-size: 25px;margin-left: 12px; margin-top: 3px;">23.40(0.21%)</b>
    
        </div>
        <div style="margin-top: -95px;margin-left: 800px;font-size: 15px;">
            <p style = "color: #6d7378"> DayRange</p>
            <p style="padding-top: 10px;">L</p>
            <h3 style="color : rgb(8, 136, 87); margin-top: -40px;
                   margin-left: 127px;
                   margin-bottom: 15px;"> &#9679;</h3>
            <hr style="border-top:2px solid black;     margin-top: -22px; margin-left: 26px; width: 401px">
            <p style="    float: right;margin-top: -20px;
            margin-right: -448px;">H</p>
            <p style="color: #6d7378"> 52WeekRange</p>
            <p style="padding-top: 10px;">L</p>
            <h3 style="color : rgb(8, 136, 87); margin-top: -40px;
                   margin-left: 133px;
                   margin-bottom: 15px;"> &#9679;</h3>
            <hr style="border-top:2px solid black;     margin-top: -22px; margin-left: 26px; width: 401px">
            <p style="    float: right;margin-top: -20px;
            margin-right: -448px;">H</p>
        </div>
    </div>
    
    <hr style=" border-top: 2px solid grey;margin-top: 90px;">
    <p style="color: #6d7378;font-size:20px">OVERVIEW</p>
    <div class="container">
        <div style="margin-top: 23px;margin-right: 817px;">
            <div style="margin-bottom: -20px">
                <p style=" display:inline-block; color: #6d7378;   margin-right: 282px; margin-left: 24px">Open</p>
              <div style="margin-left: 400px;margin-top: -29px;"><b style=" display:inline-block">{{todaybse.open | number : '2.1-2'}}</b>
         </div>   </div>
            <hr style=" border-top: 1px solid #f2f2f3;margin-left: 25px;">
    
            <div style="margin-bottom: -20px;">
                <p style=" display:inline-block; color: #6d7378;   margin-right: 230px; margin-left: 24px">PreviousClose</p>
                <div style="margin-left: 400px;margin-top: -29px;"> <b>{{prevbse.close | number : '2.1-2'}}</b>
            </div>
            </div>
            <hr style=" border-top: 1px solid #f2f2f3;margin-left: 25px;">
    
            <div style="margin-bottom: -20px;">
                <p style=" display:inline-block; color: #6d7378;   margin-right: 282px; margin-left: 24px">DayHigh</p>
                <div style="margin-left: 400px;margin-top: -29px;"><b >{{todaybse.high | number : '2.1-2'}}</b>
            </div></div>
            <hr style=" border-top: 1px solid #f2f2f3;margin-left: 25px;">
        </div>
    
    
        <div style="margin-left: 638px; margin-top: -108px;margin-right: 154px;">
            <div style="margin-bottom: -20px;">
                <p style=" display:inline-block;color: #6d7378;margin-right: 282px; margin-left: 24px">DayLow</p>
                <div style="margin-left: 400px;margin-top: -29px;"> <b >{{todaybse.low | number : '2.1-2'}}</b>
            </div></div>
            <hr style=" border-top: 1px solid #f2f2f3;margin-left:23px">
            <div style="margin-bottom: -20px;">
                <p style=" display:inline-block; color: #6d7378;   margin-right: 282px; margin-left: 24px">52WeekHigh</p>
                <div style="margin-left: 400px;margin-top: -29px;">  <b >12,430.50</b>
            </div></div>
            <hr style=" border-top: 1px solid #f2f2f3;margin-left:23px">
            <div style="margin-bottom: -20px;">
                <p style=" display:inline-block;margin-right: 282px; margin-left: 24px;color: #6d7378;">52WeekLow</p>
                <div style="margin-left: 400px;margin-top: -29px;"> <b >7511.10</b>
            </div></div>
            <hr style=" border-top: 1px solid #f2f2f3;margin-left:23px">
        </div>
    </div>
    </ng-template>
</div>
