<div class="container2">
    <div class="chip">
        <div class="content">
            <div class="left">
                <p style="margin-top: -40px;color: #acb0b3;font-size: 12px;">NSE</p>
                <p style="margin-top: -40px;">NIFTY 50</p>
                <p style="margin-top: -45px;font-size: 35px;"> {{todaynse.open | number:'2.1-2'}}</p>
            </div>
            <div class="right">
                <p style="margin-top: -106px;color: #acb0b3;font-size: 12px;">PREV CLOSE</p>
                <p style="margin-top: -40px;">{{prevnse.close | number:'2.1-2'}}</p>
            </div>
            <br>
            <div class="line"></div>
        </div>
    </div>
    <img src = "assets/sttt.png" style="margin-right: 14px;float:right">
</div>

